*.pyc
*.jpg
*.pth
events.out.*
*.log
*.json
*.txt
# *.sh
*.pth
# *.png
/dataset/toy_diagnosis/
/dataset/toy_multi_segmentation/
/dataset/toy_pretrain/
/dataset/toy_segmentation/
# *.jpg
*.safetensors
*.tar
